In [ ]:
import psycopg2
import pandas as pd
import matplotlib.pyplot as plt
import io
import numpy as np

In [53]:
data = pd.read_csv("result/cam_115_preset_1.csv")
data.head()

             timestamp  avg_speed  cam.preset  avg_speed_bus
0  2021-12-10 00:20:00       15.0         1.0            NaN
1  2021-12-10 00:25:00       24.0         1.0            NaN
2  2021-12-10 00:30:00        NaN         NaN            NaN
3  2021-12-10 00:35:00        NaN         NaN            NaN
4  2021-12-10 00:40:00        NaN         NaN            NaN

In [10]:
database = ''
user = 'postgres'
password = '00'
host = 'localhost'
conn_string = "host='%s' dbname='%s' user='%s' password='%s'" %(host, database, user, password)
conn = psycopg2.connect(conn_string)
conn.close()

In [58]:
conn = psycopg2.connect(conn_string)

cur = conn.cursor()

# Drop the table if it already exists
cur.execute("DROP table IF EXISTS test_data;")

# load data into Pandas dataframe
df2 = pd.read_csv("result/cam_115_preset_1.csv")
df = df2.head(200)

# only select the time column and `ts_7' column
df_db = df[['timestamp', 'avg_speed']]

# create table
create_table = "CREATE  TABLE test_data(\
   timestamp timestamp PRIMARY KEY,\
   avg_speed double precision);"
cur.execute(create_table)

# Populate table using pandas
output = io.StringIO()
df_db.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
cur.copy_from(output, 'test_data', null="")

# close connection
conn.commit()
conn.close()
print('Table created and Loaded')

Table created and Loaded

In [59]:
conn = psycopg2.connect(conn_string)
df = pd.read_sql_query("select * from test_data limit 10;", conn)
conn.close()
df

            timestamp  avg_speed
0 2021-12-10 00:20:00       15.0
1 2021-12-10 00:25:00       24.0
2 2021-12-10 00:30:00        NaN
3 2021-12-10 00:35:00        NaN
4 2021-12-10 00:40:00        NaN
5 2021-12-10 00:45:00       46.0
6 2021-12-10 00:50:00        9.0
7 2021-12-10 00:55:00        NaN
8 2021-12-10 01:00:00        NaN
9 2021-12-10 01:05:00        NaN

In [63]:
conn.close()
conn = psycopg2.connect(conn_string)
cursor = conn.cursor()
cursor.execute("""select create_pindex('test_data', 'timestamp','{"avg_speed"}','pindex', k =>4);""")
conn.commit()
conn.close()

In [64]:
conn = psycopg2.connect(conn_string)
df = pd.read_sql_query("select * from list_pindices();", conn)
df

,index_name,value_columns,relation,time_column,initial_timestamp,last_timestamp,agg_interval,uncertainty_quantification
0,pindex,[avg_speed],test_data,timestamp,2021-12-10 00:20:00,2021-12-10 16:55:00,00:05:00,True
1,mixturets_var_pindex,[ts],mixturets_var,time,0,99999,1 units,True
2,basic_pindex,[ts],ts_basic_ts_5_5,time,2012-10-01 00:00:00,2012-10-06 18:53:15,00:00:05,True
3,pindex1,[ts_7],mixturets2,time,0,100000,1 units,True
4,mixturets2_pindex,[ts],mixturets2,time,0,100000,1 units,True

In [65]:
df = pd.read_sql_query("select * from pindices_stat() where index_name = 'pindex';", conn)
df

,index_name,column_name,number_of_observations,number_of_trained_models,imputation_score,forecast_score,test_forecast_score
0,pindex,avg_speed,200,1,0.866239,0.968836,None

In [75]:
predict_start_time = pd.Timestamp('2021-12-10 04:00:00')
predict_start_time_str = predict_start_time.strftime('%Y-%m-%d %H:%M:%S')

predict_finish_time = pd.Timestamp('2021-12-10 08:00:00')
predict_finish_time_str = predict_finish_time.strftime('%Y-%m-%d %H:%M:%S')

df = pd.read_sql_query('''select * from predict('test_data','avg_speed','%s', '%s','pindex');'''%(predict_start_time_str, predict_finish_time_str), conn)
df

    prediction         lb         ub
0    19.030046  12.048154  26.011938
1    26.880736  21.787494  31.973977
2     0.975645  -5.160190   7.111479
3    28.659445  22.479440  34.839450
4    28.919053  24.482925  33.355182
5    31.056654  31.056654  31.056654
6    14.265650  12.253306  16.277994
7    21.134991  18.940538  23.329444
8    32.274224  27.822562  36.725886
9    20.198229  20.198229  20.198229
10   57.301243  55.249631  59.352855
11   11.086086   8.855805  13.316366
12   31.025681  25.486233  36.565129
13   25.286698  23.839597  26.733799
14   61.317857  57.222548  65.413165
15   32.437279  28.259534  36.615023
16   18.777099   5.254991  32.299206
17   24.004395   9.756631  38.252159
18   31.389473  17.509486  45.269459
19   43.216817  29.354157  57.079477
20   39.651675  34.427481  44.875869
21   38.402299  38.402299  38.402299
22   13.159771   9.575182  16.744361
23    9.810986   6.128975  13.492997
24   24.822476  18.428410  31.216542
25   24.094878  20.150303  28.039452
26   12.403778   7.059621  17.747935
27   11.758191   6.357813  17.158569
28   20.330022  16.183279  24.476766
29   25.171776  25.171776  25.171776
30    4.980334   3.894707   6.065961
31   22.777022  21.375715  24.178328
32    6.557042   0.763825  12.350258
33    5.011660   2.584478   7.438842
34   -0.751290  -5.234117   3.731537
35    1.032287  -3.523562   5.588137
36   34.186114  27.653562  40.718667
37   19.228175  14.994587  23.461763
38   51.937290  46.402922  57.471658
39   -1.287855  -6.875307   4.299597
40   -0.600073  -5.609771   4.409624
41    3.552877   3.552877   3.552877
42    1.016108  -2.195115   4.227331
43   19.290857  15.968712  22.613003
44   37.165350  20.639518  53.691181
45   31.813068  13.864069  49.762066
46   20.469889   3.236790  37.702989
47    3.419313 -13.779798  20.618423
48   40.473516  34.282591  46.664441